.button{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 7rem;
}

button{
    border: 0.5rem solid;
    border-color: aqua;
    background-color: aqua;
}
.btntext{
    font-size: 1.5rem;
    font-weight: 800;
}