* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
.subcontainers{
    height: 100vh;
}
#page1{
    background-color: black;
}
#page2{
    background-color: rgb(255, 255, 255);
}
#page3{
    background-color: rgb(0, 0, 0);
}