@import url('https://fonts.googleapis.com/css?family=Sofia');
.grids{
    display: grid;
    grid-template-columns: 50% 50%;
}

.welcome{
    height: 100vh;
}
.manimage{
    height: 100vh;
}
.green{
    text-align: center;
    color: rgb(17, 255, 116);
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.receipe{
    color: rgb(183, 0, 255);
    font-size: 100px;
    font-family: fantasy;
    text-align: center;
}
.for{
    color: rgb(0, 38, 255);
    font-size: 25px;
    font-family:cursive;
    text-align: center;
}
.center{
    margin-top: 12rem;
}
.button{
    color: blueviolet;
    margin-top: 4rem;
    margin-left: 16rem;
    background-color: rgb(18, 255, 164);
    width: fit-content;
    border: 1rem solid rgb(18, 255, 164);
    font-size: 1rem;
    font-weight: bold;
    font-family: monospace;
    
}
.button a{
    text-decoration: none;
}